* {
    padding: 2px;
    margin: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    background: #ddd;
    outline: #aaa 3px solid;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-areas: ". level ." "control canvas player" ". info .";
    grid-gap: 10px;
}

.item-level {
    grid-area: level;
    place-self: center;
}

.item-control {
    grid-area: control;
    place-self: center;
}

.item-player {
    grid-area: player;
    place-self: center;
}

.item-canvas {
    grid-area: canvas;
    place-self: center;
}

.item-info {
    grid-area: info;
    place-self: center;
}

button,
a:link,
a:visited {
    background-color: white;
    color: black;
    border: 2px solid #CCC;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover,
a:hover,
a:active {
    background-color: #CCC;
    color: white;
}

h5,
h6 {
    color: #999;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}